<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--Logging Settings SoftwareKey  -->
    <add key="FontListFile" value="FontList.xml"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ManualActivationUrl" value="https://secure.softwarekey.com/solo/customers/ManualRequest.aspx"/>
    <add key="XmlActivationServiceUrl" value="https://secure.softwarekey.com/solo/webservices/XmlActivationService.asmx"/>
    <add key="XmlLicenseFileServiceUrl" value="https://secure.softwarekey.com/solo/webservices/XmlLicenseFileService.asmx"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!--(3) Logging Settings EFILE  -->
    <add key="maxLogSizeKb" value="2048"/>
    <add key="maxAuditSizeKb" value="2048"/>
    <!-- Valid levels are 1,2, or 3 with 3 being the most detailed logging and 1 being mostly errors and basic info. -->
    <add key="logLevel" value="3"/>
    <!-- Should be set to a valid path on the filesystem -->
    <add key="mefLogPath" value="~\Aimlog101"/>
    <add key="mefAuditPath" value="~\Aimlog101"/>
    <!-- Valid values are Y and N. If set to Y, the soap request and response will be logged. -->
    <add key="logSoap" value="Y"/>
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="LoginTextMessageEncoding" type="MeFWCFClient.Login.CustomTextMessageEncoder.CustomTextMessageEncodingElement, MeFWCFClient"/>
        <add name="LogoutTextMessageEncoding" type="MeFWCFClient.Logout.CustomTextMessageEncoder.CustomTextMessageEncodingElement, MeFWCFClient"/>
        <add name="ServicesTextMessageEncoding" type="MeFWCFClient.Services.CustomTextMessageEncoder.CustomTextMessageEncodingElement, MeFWCFClient"/>
        <add name="ServicesTextMessageEncodingMTOM" type="MeFWCFClient.Services.CustomTextMessageEncoderMTOM.CustomTextMessageEncodingElement, MeFWCFClient"/>
      </bindingElementExtensions>
    </extensions>
    <bindings>
      <customBinding>
        <!-- Timeout values for login is set at 10 minutes. Please change if needed -->
        <binding name="LoginCustomBinding" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <security allowSerializedSigningTokenOnReply="false" authenticationMode="MutualCertificate" securityHeaderLayout="Strict" includeTimestamp="true" messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity10WSTrust13WSSecureConversation13WSSecurityPolicy12BasicSecurityProfile10" requireSignatureConfirmation="false" enableUnsecuredResponse="true" defaultAlgorithmSuite="Basic128Sha256Rsa15">
            <localClientSettings detectReplays="false" reconnectTransportOnFailure="true"/>
            <secureConversationBootstrap/>
          </security>
          <LoginTextMessageEncoding/>
          <httpsTransport keepAliveEnabled="true" requireClientCertificate="false"/>
        </binding>
        <!-- Timeout values for logout is set at 10 minutes. Please change if needed -->
        <binding name="LogoutCustomBinding" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <security authenticationMode="UserNameOverTransport" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" securityHeaderLayout="Lax" enableUnsecuredResponse="true">
            <secureConversationBootstrap/>
          </security>
          <LogoutTextMessageEncoding/>
          <httpsTransport/>
        </binding>
        <!-- Timeout values for all the services are set at 10 minutes. Please change if needed -->
        <binding name="ServicesCustomBinding" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <security authenticationMode="UserNameOverTransport" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" securityHeaderLayout="Lax" enableUnsecuredResponse="true">
            <secureConversationBootstrap/>
          </security>
          <ServicesTextMessageEncoding/>
          <httpsTransport maxReceivedMessageSize="2147483647"/>
        </binding>
        <!-- Timeout values for all the services are set at 30 minutes. Please change if needed -->
        <binding name="ServicesCustomBindingMTOM" openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00">
          <security authenticationMode="UserNameOverTransport" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" securityHeaderLayout="Lax" enableUnsecuredResponse="true">
            <secureConversationBootstrap/>
          </security>
          <ServicesTextMessageEncodingMTOM/>
          <httpsTransport maxReceivedMessageSize="2147483647"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/Login" binding="customBinding" bindingConfiguration="LoginCustomBinding" contract="MeFMSIServices.Login" behaviorConfiguration="LoginBehavior" name="Login">
        <!-- Please update the following with the name for which your certificate was issued. Please refer to Quick Start Guide for details.-->
        <identity>
          <dns value="Ariel I Maisonet"/>
        </identity>
      </endpoint>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/Logout" binding="customBinding" bindingConfiguration="LogoutCustomBinding" contract="MeFMSIServices.Logout" name="Logout"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/GetStateParticipantsList" binding="customBinding" bindingConfiguration="ServicesCustomBinding" contract="MeFMSIServices.GetStateParticipantsList" name="GetStateParticipantsList"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/EtinStatus" binding="customBinding" bindingConfiguration="ServicesCustomBinding" contract="MeFMSIServices.EtinStatus" name="EtinStatus"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/EtinRetrieval" binding="customBinding" bindingConfiguration="ServicesCustomBinding" contract="MeFMSIServices.EtinRetrieval" name="EtinRetrieval"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetNewAcks" binding="customBinding" bindingConfiguration="ServicesCustomBinding" contract="MeFTransmitterServices.GetNewAcks" name="GetNewAcks"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetNewSubmissionsStatus" binding="customBinding" bindingConfiguration="ServicesCustomBinding" contract="MeFTransmitterServices.GetNewSubmissionsStatus" name="GetNewSubmissionsStatus"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/SendSubmissions" binding="customBinding" bindingConfiguration="ServicesCustomBindingMTOM" contract="MeFTransmitterServices.SendSubmissions" name="SendSubmissions"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetAcks" binding="customBinding" bindingConfiguration="ServicesCustomBinding" contract="MeFTransmitterServices.GetAcks" name="GetAcks"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetAck" binding="customBinding" bindingConfiguration="ServicesCustomBinding" contract="MeFTransmitterServices.GetAck" name="GetAck"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetAcksByMsgID" binding="customBinding" bindingConfiguration="ServicesCustomBinding" contract="MeFTransmitterServices.GetAcksByMsgID" name="GetAcksByMsgID"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetSubmissionsStatus" binding="customBinding" bindingConfiguration="ServicesCustomBinding" contract="MeFTransmitterServices.GetSubmissionsStatus" name="GetSubmissionsStatus"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetSubmissionStatus" binding="customBinding" bindingConfiguration="ServicesCustomBinding" contract="MeFTransmitterServices.GetSubmissionStatus" name="GetSubmissionStatus"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetAckNotification" binding="customBinding" bindingConfiguration="ServicesCustomBinding" contract="MeFStateServices.GetAckNotification" name="GetAckNotification"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetAckNotifications" binding="customBinding" bindingConfiguration="ServicesCustomBinding" contract="MeFStateServices.GetAckNotifications" name="GetAckNotifications"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetNewAckNotifications" binding="customBinding" bindingConfiguration="ServicesCustomBinding" contract="MeFStateServices.GetNewAckNotifications" name="GetNewAckNotifications"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetNewSubmissions" binding="customBinding" bindingConfiguration="ServicesCustomBinding" contract="MeFStateServices.GetNewSubmissions" name="GetNewSubmissions"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetSubmissionByMsgID" binding="customBinding" bindingConfiguration="ServicesCustomBinding" contract="MeFStateServices.GetSubmissionByMsgID" name="GetSubmissionByMsgID"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetSubmission" binding="customBinding" bindingConfiguration="ServicesCustomBinding" contract="MeFStateServices.GetSubmission" name="GetSubmission"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetSubmissionReconciliationList" binding="customBinding" bindingConfiguration="ServicesCustomBinding" contract="MeFStateServices.GetSubmissionReconciliationList" name="GetSubmissionReconciliationList"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetSubmissionsByMsgID" binding="customBinding" bindingConfiguration="ServicesCustomBinding" contract="MeFStateServices.GetSubmissionsByMsgID" name="GetSubmissionsByMsgID"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetSubmissions" binding="customBinding" bindingConfiguration="ServicesCustomBinding" contract="MeFStateServices.GetSubmissions" name="GetSubmissions"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/SendAcks" binding="customBinding" bindingConfiguration="ServicesCustomBinding" contract="MeFStateServices.SendAcks" name="SendAcks"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/SendSubmissionReceipts" binding="customBinding" bindingConfiguration="ServicesCustomBinding" contract="MeFStateServices.SendSubmissionReceipts" name="SendSubmissionReceipts"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/Get2290Schedule1s" binding="customBinding" bindingConfiguration="ServicesCustomBinding" contract="ETECTransmitterServices.Get2290Schedule1s" name="Get2290Schedule1s"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/Get2290Schedule1" binding="customBinding" bindingConfiguration="ServicesCustomBinding" contract="ETECTransmitterServices.Get2290Schedule1" name="Get2290Schedule1"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetNew2290Schedule1s" binding="customBinding" bindingConfiguration="ServicesCustomBinding" contract="ETECTransmitterServices.GetNew2290Schedule1s" name="GetNew2290Schedule1s"/>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/Get2290Schedule1sByMsgID" binding="customBinding" bindingConfiguration="ServicesCustomBinding" contract="ETECTransmitterServices.Get2290Schedule1sByMsgID" name="Get2290Schedule1sByMsgID"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="LoginBehavior">
          <clientCredentials>
            <!-- f57c7eafa5c09532a051444ba1752bfe02d966e1  Please update the following with the thumbprint value of your certificate. Please refer to Quick Start Guide for details.-->
            <clientCertificate findValue="fc994f21faa1129bc8b92d6e0df7ce16f2f6fe1b" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
            <serviceCertificate>
              <!-- Please update the following with the thumbprint value of your certificate. Please refer to Quick Start Guide for details.-->
              <defaultCertificate findValue="fc994f21faa1129bc8b92d6e0df7ce16f2f6fe1b" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
              <authentication certificateValidationMode="None" revocationMode="NoCheck" trustedStoreLocation="LocalMachine"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>