<?xml version="1.0"?>
<configuration>

  <system.net>
  </system.net>
  <appSettings>

    <!--(3) Logging Settings -->
    <add key="maxLogSizeKb" value="2048"/>
    <add key="maxAuditSizeKb" value="2048"/>
    <!-- Valid levels are 1,2, or 3 with 3 being the most detailed logging and 1 being mostly errors and basic info. -->
    <add key="logLevel" value="3"/>
    <!-- Should be set to a valid path on the filesystem -->
    <add key="mefLogPath" value="C:\DotNet\logs\"/>
    <add key="mefAuditPath" value="C:\DotNet\logs\"/>
    <!-- Valid values are Y and N. If set to Y, the soap request and response will be logged. -->
    <add key="logSoap" value="Y"/>
  </appSettings>

  <system.serviceModel>

    <extensions>
      <bindingElementExtensions>
        <add name="LoginTextMessageEncoding" type="MeFWCFClient.Login.CustomTextMessageEncoder.CustomTextMessageEncodingElement, MeFWCFClient" />
        <add name="LogoutTextMessageEncoding" type="MeFWCFClient.Logout.CustomTextMessageEncoder.CustomTextMessageEncodingElement, MeFWCFClient"/>
        <add name="ServicesTextMessageEncoding" type="MeFWCFClient.Services.CustomTextMessageEncoder.CustomTextMessageEncodingElement, MeFWCFClient"/>
		<add name="ServicesTextMessageEncodingMTOM" type="MeFWCFClient.Services.CustomTextMessageEncoderMTOM.CustomTextMessageEncodingElement, MeFWCFClient"/>
      </bindingElementExtensions>
    </extensions>

    <bindings>

      <customBinding>
        <!-- Timeout values for login is set at 10 minutes. Please change if needed -->
        <binding name="LoginCustomBinding"
                 openTimeout="00:10:00"
                 closeTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00" >

          <security allowSerializedSigningTokenOnReply="false"
                    authenticationMode="MutualCertificate"
                    securityHeaderLayout="Strict"
                    includeTimestamp="true"
                    messageProtectionOrder="SignBeforeEncrypt"
                    messageSecurityVersion="WSSecurity10WSTrust13WSSecureConversation13WSSecurityPolicy12BasicSecurityProfile10"
                    requireSignatureConfirmation="false"
                    enableUnsecuredResponse="true"
                    defaultAlgorithmSuite="Basic128Sha256Rsa15">

            <localClientSettings detectReplays="false" reconnectTransportOnFailure="true" />
            <secureConversationBootstrap />
          </security>
          <LoginTextMessageEncoding/>

          <httpsTransport keepAliveEnabled="true" requireClientCertificate="false" />          

        </binding>
        <!-- Timeout values for logout is set at 10 minutes. Please change if needed -->
        <binding name="LogoutCustomBinding"
                 openTimeout="00:10:00"
                 closeTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00">

          <security authenticationMode="UserNameOverTransport" includeTimestamp="true"
            messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                    securityHeaderLayout="Lax" enableUnsecuredResponse="true" >
            <secureConversationBootstrap />
          </security>

          <LogoutTextMessageEncoding/>

          <httpsTransport/>
        </binding>

        <!-- Timeout values for all the services are set at 10 minutes. Please change if needed -->
        <binding   name="ServicesCustomBinding"
                   openTimeout="00:10:00"
                 closeTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00" >

          <security authenticationMode="UserNameOverTransport" includeTimestamp="true"
            messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                    securityHeaderLayout="Lax" enableUnsecuredResponse="true" >
            <secureConversationBootstrap />
          </security>

          <ServicesTextMessageEncoding/>

          <httpsTransport maxReceivedMessageSize="2147483591" />
        </binding>

		  <!-- Timeout values for all the services are set at 30 minutes. Please change if needed -->
		  <binding    name="ServicesCustomBindingMTOM"
					 openTimeout="00:30:00"
				   closeTimeout="00:30:00"
				   sendTimeout="00:30:00"
				   receiveTimeout="00:30:00">

			  <security authenticationMode="UserNameOverTransport" includeTimestamp="true"
				messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
						securityHeaderLayout="Lax" enableUnsecuredResponse="true" >
				  <secureConversationBootstrap />
			  </security>

			  <ServicesTextMessageEncodingMTOM/>

			  <httpsTransport   maxReceivedMessageSize="2147483591" />

		  </binding>
		  
      </customBinding>
    </bindings>



    <client>
      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/Login" binding="customBinding"
          bindingConfiguration="LoginCustomBinding" contract="MeFMSIServices.Login"
          behaviorConfiguration="LoginBehavior"
          name="Login" >

        <!-- Please update the following with the name for which your certificate was issued. Please refer to Quick Start Guide for details.-->
        <identity>
          <dns value="Joseph H Eppich"/>
        </identity>

      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/Logout" binding="customBinding"
          bindingConfiguration="LogoutCustomBinding" contract="MeFMSIServices.Logout"
          name="Logout" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/GetStateParticipantsList" binding="customBinding"
          bindingConfiguration="ServicesCustomBinding" contract="MeFMSIServices.GetStateParticipantsList"
          name="GetStateParticipantsList" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/EtinStatus" binding="customBinding"
          bindingConfiguration="ServicesCustomBinding" contract="MeFMSIServices.EtinStatus"
          name="EtinStatus" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/EtinRetrieval" binding="customBinding"
          bindingConfiguration="ServicesCustomBinding" contract="MeFMSIServices.EtinRetrieval"
          name="EtinRetrieval" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetNewAcks" binding="customBinding"
          bindingConfiguration="ServicesCustomBinding" contract="MeFTransmitterServices.GetNewAcks"
          name="GetNewAcks" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetNewSubmissionsStatus" binding="customBinding"
          bindingConfiguration="ServicesCustomBinding" contract="MeFTransmitterServices.GetNewSubmissionsStatus"
          name="GetNewSubmissionsStatus" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/SendSubmissions" binding="customBinding"
          bindingConfiguration="ServicesCustomBindingMTOM" contract="MeFTransmitterServices.SendSubmissions"
          name="SendSubmissions" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetAcks" binding="customBinding"
          bindingConfiguration="ServicesCustomBinding" contract="MeFTransmitterServices.GetAcks"
          name="GetAcks" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetAck" binding="customBinding"
          bindingConfiguration="ServicesCustomBinding" contract="MeFTransmitterServices.GetAck"
          name="GetAck" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetAcksByMsgID" binding="customBinding"
          bindingConfiguration="ServicesCustomBinding" contract="MeFTransmitterServices.GetAcksByMsgID"
          name="GetAcksByMsgID" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetSubmissionsStatus" binding="customBinding"
          bindingConfiguration="ServicesCustomBinding" contract="MeFTransmitterServices.GetSubmissionsStatus"
          name="GetSubmissionsStatus" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetSubmissionStatus" binding="customBinding"
          bindingConfiguration="ServicesCustomBinding" contract="MeFTransmitterServices.GetSubmissionStatus"
          name="GetSubmissionStatus" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetAckNotification" binding="customBinding"
          bindingConfiguration="ServicesCustomBinding" contract="MeFStateServices.GetAckNotification"
          name="GetAckNotification" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetAckNotifications" binding="customBinding"
          bindingConfiguration="ServicesCustomBinding" contract="MeFStateServices.GetAckNotifications"
          name="GetAckNotifications" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetNewAckNotifications" binding="customBinding"
          bindingConfiguration="ServicesCustomBinding" contract="MeFStateServices.GetNewAckNotifications"
          name="GetNewAckNotifications" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetNewSubmissions" binding="customBinding"
          bindingConfiguration="ServicesCustomBinding" contract="MeFStateServices.GetNewSubmissions"
          name="GetNewSubmissions" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetSubmissionByMsgID" binding="customBinding"
          bindingConfiguration="ServicesCustomBinding" contract="MeFStateServices.GetSubmissionByMsgID"
          name="GetSubmissionByMsgID" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetSubmission" binding="customBinding"
          bindingConfiguration="ServicesCustomBinding" contract="MeFStateServices.GetSubmission"
          name="GetSubmission" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetSubmissionReconciliationList" binding="customBinding"
          bindingConfiguration="ServicesCustomBinding" contract="MeFStateServices.GetSubmissionReconciliationList"
          name="GetSubmissionReconciliationList" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetSubmissionsByMsgID" binding="customBinding"
          bindingConfiguration="ServicesCustomBinding" contract="MeFStateServices.GetSubmissionsByMsgID"
          name="GetSubmissionsByMsgID" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetSubmissions" binding="customBinding"
          bindingConfiguration="ServicesCustomBinding" contract="MeFStateServices.GetSubmissions"
          name="GetSubmissions" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/SendAcks" binding="customBinding"
          bindingConfiguration="ServicesCustomBinding" contract="MeFStateServices.SendAcks"
          name="SendAcks" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/SendSubmissionReceipts" binding="customBinding"
          bindingConfiguration="ServicesCustomBinding" contract="MeFStateServices.SendSubmissionReceipts"
          name="SendSubmissionReceipts" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/Get2290Schedule1s" binding="customBinding"
          bindingConfiguration="ServicesCustomBinding" contract="ETECTransmitterServices.Get2290Schedule1s"
          name="Get2290Schedule1s" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/Get2290Schedule1" binding="customBinding"
          bindingConfiguration="ServicesCustomBinding" contract="ETECTransmitterServices.Get2290Schedule1"
          name="Get2290Schedule1" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/GetNew2290Schedule1s" binding="customBinding"
          bindingConfiguration="ServicesCustomBinding" contract="ETECTransmitterServices.GetNew2290Schedule1s"
          name="GetNew2290Schedule1s" >
      </endpoint>

      <endpoint address="https://la.alt.www4.irs.gov/a2a/mef/mtom/Get2290Schedule1sByMsgID" binding="customBinding"
          bindingConfiguration="ServicesCustomBinding" contract="ETECTransmitterServices.Get2290Schedule1sByMsgID"
          name="Get2290Schedule1sByMsgID" >
      </endpoint>

    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior name="LoginBehavior">
          <clientCredentials>
            <!-- Please update the following with the thumbprint value of your certificate. Please refer to Quick Start Guide for details.-->
            <clientCertificate findValue="b3f1fe9fdda19020dfafe189544b68a2648a2955"
              storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint" />
            <serviceCertificate>
              <!-- Please update the following with the thumbprint value of your certificate. Please refer to Quick Start Guide for details.-->
              <defaultCertificate findValue="b3f1fe9fdda19020dfafe189544b68a2648a2955"
                storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint" />
              <authentication certificateValidationMode="None" revocationMode="NoCheck"
                trustedStoreLocation="CurrentUser" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>